/* App.css */
body.light-mode {
    background-color: #f5f5f5;
    color: #333;
}

body.dark-mode {
    background-color: #121212;
    color: #fff;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    margin: 20px;
}

.theme-toggle-button {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #1f8ef1; /* Amazon Prime Blue */
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-weight: 500;
}

.theme-toggle-button.dark {
    background-color: #e50914; /* Netflix Red */
}

.search-bar {
    display: flex;
    align-items: center;
    margin: 20px 0;
    transition: all 0.5s ease;
    position: relative;
}

.search-bar .search-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.search-bar .search-input {
    width: 0;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid transparent;
    font-size: 1em;
    outline: none;
    transition: all 0.5s ease;
    visibility: hidden;
    opacity: 0;
}

.search-bar.active .search-input {
    width: 300px;
    visibility: visible;
    opacity: 1;
    margin-left: 10px;
}

.search-bar .search-input:focus {
    border-color: #e50914; /* Netflix Red */
}

.search-bar .search-button {
    display: none;
}

.search-bar.active .search-button {
    display: inline-block;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    margin-left: -40px; /* Adjust to fit the search icon inside the input */
}

body.dark-mode .search-bar .search-input {
    background-color: #333;
    color: #fff;
    border-color: #444;
}

body.dark-mode .search-bar .search-input:focus {
    border-color: #e50914; /* Netflix Red */
}

.movies-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 16px;
    padding: 16px;
    width: 100%;
    max-width: 1200px;
}

/* Dark mode styles for movie card */
body.dark-mode .movie-card {
    background-color: #333;
    color: #fff;
}

body.dark-mode .movie-card p {
    color: #ccc;
}

.search-bar {
    display: flex;
    align-items: center;
    margin: 20px 0;
    position: relative;
}

.search-bar .search-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: all 0.5s ease;
    position: absolute;
    left: 10px;
}

.search-bar .search-icon.animate {
    left: 15px;
    width: 20px;
    height: 20px;
}

.search-bar .search-input {
    width: 0;
    padding: 10px 10px 10px 45px; /* Adjusted padding to make space for the search icon */
    border-radius: 20px;
    border: 2px solid transparent;
    font-size: 1em;
    outline: none;
    transition: all 0.5s ease;
    visibility: hidden;
    opacity: 0;
}

.search-bar.active .search-input {
    width: 300px;
    visibility: visible;
    opacity: 1;
    margin-left: 0; /* Remove margin-left */
}

.search-bar .search-input:focus {
    border-color: #e50914; /* Netflix Red */
}

.search-bar.active .search-icon {
    margin-right: 10px;
    padding-right: 10px;
}

footer {
    margin-top: 20px;
    text-align: center;
    font-size: 0.8em;
    color: #666;
}

footer .disclaimer {
    margin: 10px 0;
}
